[submodule "MAT236-Project-1"]
	path = MAT236-Project-1
	url = https://github.com/joeljaffesd/GL-Life
[submodule "MAT236-Project-2"]
	path = MAT236-Project-2
	url = https://github.com/joeljaffesd/EssentiaSketch
[submodule "MAT236-Final-Project"]
	path = MAT236-Final-Project
	url = https://github.com/joeljaffesd/engrav3r
